.start_news_List {
  z-index: 100;
  bottom: 0;

  @media (max-width:768px) {
    width: 35% !important;
  }

  @media (max-width:576px) {
    width: 100% !important;
    opacity: 1;
  }
}

.planet_news_List {

  @media (max-width:1440px) {
    width: 30% !important;
    opacity: 0.9;
  }

  @media (max-width:1024px) {
    width: 35% !important;
  }

  @media (max-width:768px) {
    width: 45% !important;
  }

  @media (max-width:576px) {
    width: 100% !important;
    opacity: 1;
  }
}