body {
  background-color: rgb(5, 4, 4);
  /* overflow-x: hidden; */
  overflow: hidden;
}

.Nav {
  font-size: 25px;
  /* border: 1px solid red */
}

.App-Container {
  color: white;
}

.content {
  padding-top: 90px;
}

.banner {
  position: relative;
  /* margin-bottom: 300px; */
  /* border: 1px solid red; */

}

.backgroundImg {
  background-image: url('../public/images/background.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: -103px -432px;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 1px rgb(159, 147, 147) solid;
  position: absolute;
  right: -30%;
  top: -200px;
  transform: translate(-50%, -50%);
  animation: carousel 60s linear infinite backwards;
  animation-play-state: paused;


}

.solarBox {
  position: absolute;
  bottom: 50%;
  border-radius: 50%;
  width: 25%;
  height: 50%;

}

.solar {
  background-image: url('../public/images/solar.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: calc(100% - 50%);
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 100%;
  transform: scale(5) translate(0%, 50%);
  visibility: hidden;
  /* animation: shine 60s ease-in infinite backwards; */
  /* animation-play-state: paused; */



}

.solar:hover {
  animation-play-state: paused;
}

@keyframes shine {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  25% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;

  }

}

@keyframes carousel {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }

  25% {
    transform: rotate(72deg);
    opacity: 0.2;
  }

  50% {
    transform: rotate(144deg);
    opacity: 0.4;
  }

  70% {
    transform: rotate(216deg);
    opacity: 0.6;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

.cardBox {
  position: relative;
  transform-style: preserve-3d;
}

.circleBox>div {
  z-index: -1;
  position: absolute;
  opacity: 0.5;
  bottom: 40%;
  right: 50%;
  border-radius: 50%;
  transform: translate(50%, 50%) rotateX(45deg) rotateZ(-8deg);
}

.circle {
  width: 30%;
  height: 40%;

}

.circle2 {
  width: 50%;
  height: 80%;
}

.circle3 {
  width: 100%;
  height: 150%;
}

/* Footer */
.floating {
  transform: translateX(-4px);
  animation: bounce 4s ease-in-out infinite both;
}


@keyframes bounce {
  0% {
    transform: translateX(-4px);
  }

  50%,
  100% {
    /* transform: translateY(0); */
  }

  75% {
    transform: translateY(4px);
  }
}

.swiper-slide-next .blur>img {
  animation: zoomIn 0.3s 1 ease-in-out forwards;


}

.bg .swiper-slide-next .blur>img {
  /* border: 1px solid red; */
  width: 100% !important;
}

.bg .swiper-slide-next .blur {
  width: 300%;
  transform: translate(-30%);
}



@keyframes zoomIn {

  from {
    width: 32%;
  }

  to {
    width: 60%;
  }
}

.bouncedUp {
  bottom: -50%;
  animation: fadeIn 1s ease 3 forwards;
}

@keyframes fadeIn {
  0% {
    bottom: -50%;
  }

  15% {
    bottom: -40%;
  }

  25% {
    bottom: -30%;
  }

  50% {
    bottom: -20%;
  }

  75% {
    bottom: -10%;
  }

  100% {
    bottom: 0%;
  }
}