* {
  font-family: cursive;

}

html {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  /* background-color: #050404; */
  /* background-color: red; */

  /* width: fit-content; */


}



.content {
  width: 100dvw;
}

.te {
  font-size: 1.5rem;
  height: 100px;
  overflow-y: auto;

}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
  margin: 100px 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: lightslategrey;
}

::-webkit-scrollbar-track {
  box-shadow: transparent;
}

/* banner */
.lazyBox>span {
  display: contents !important;
}

.Nav {
  font-size: 2rem;
  /* border: 1px solid red */
}

.startBtn {
  animation: fadeIn1 1.5s 1 forwards;
  transition: font-size 1s ease-in;
}

.startBtn:hover {
  font-size: 30px;
}

.startExploration {
  animation: fadeIn1 4s 1 reverse forwards;
}

.exploreBox .Text0,
.Text1,
.Text2,
.Text3 {
  display: inline-block;
}

.exploreBox .Text0 {
  animation: spacingRound0 5s ease-in-out 1 forwards;

}

.exploreBox .Text1 {
  animation: spacingRound1 4s ease-in 1 forwards;
}

.exploreBox .Text2 {
  animation: spacingRound2 4s ease-in 1 forwards;
}

.exploreBox .Text3 {
  animation: spacingRound3 4s ease-in 1 forwards;
}

.ufo0 {
  left: 0;
  top: -100%;
  animation: ufo0 4s ease-in-out 1 reverse forwards;
}

.ufo1 {
  right: 25%;
  top: 5%;
  animation: ufo1 3s ease-in-out 1 reverse forwards;
}

@keyframes ufo0 {
  from {
    transform: translate(-130%, 0%) rotate(-30deg);
    opacity: 1;
  }

  to {
    transform: translate(160%, 230%) rotate(-5deg);
    opacity: 0;
  }
}

@keyframes ufo1 {
  from {
    transform: translate(500%, -100%) rotate(5deg);
    opacity: 1;
  }

  to {
    transform: translate(0%, 0%) rotate(0deg);
    opacity: 0;
  }
}


@keyframes spacingRound0 {
  from {
    transform: translate(0%, 0%);
    opacity: 1;
  }

  to {
    transform: translate(-200%, -400%) rotate(-25deg);
    opacity: 0;
  }
}

@keyframes spacingRound1 {
  from {
    transform: translate(0%, 0%);
    opacity: 1;
  }

  to {
    transform: translate(350%, -400%) rotate(15deg);
    opacity: 0;
  }
}

@keyframes spacingRound2 {
  from {
    opacity: 1;
    transform: translate(0%, 0%);
  }

  to {
    transform: translate(550%, 900%) rotate(35deg);
    opacity: 0;
  }
}

@keyframes spacingRound3 {
  from {
    opacity: 1;
    transform: translate(0%, 0%);
  }

  to {
    transform: translate(-550%, 900%) rotate(-35deg);
    opacity: 0;
  }
}


/* ----- */
.hint {
  animation: fadeIn1 2s ease-in-out 1;
}


@media (min-width:768px) and (max-width:1500px) {
  /* .news li {
    transition: 0.5s;
  } */

  .tabBox {
    font-size: 20px !important;
  }

  .baSelect {
    z-index: 3;
  }

  /* banner的內容高 */
  .ba {
    height: 100dvh;
    overflow-y: auto;
  }

}

.slideDown {
  animation: disappear1 1.5s 1 forwards;
}

.slideUs {
  animation: disappear 1s 1 forwards;
}

@keyframes disappear {
  from {
    bottom: 0%;
  }

  to {
    bottom: -60%;
    visibility: hidden;
  }

}

@keyframes disappear1 {
  from {
    bottom: -60%;
  }

  to {
    bottom: 0%;
    visibility: visible;
  }

}


.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}



/* ------ */

.backgroundImg {
  background-image: url('../public/images/background.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: -103px -432px;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 1px rgb(159, 147, 147) solid;
  position: absolute;
  right: 10%;
  top: -150px;
  /* transform: translate(-50%, -50%); */
  animation: carousel 60s linear infinite backwards;
  /* animation-play-state: paused; */


}

.solarBox {
  position: absolute;
  bottom: 50%;
  border-radius: 50%;
  width: 25%;
  height: 50%;

}

.solar {
  background-image: url('../public/images/solar.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: calc(100% - 50%);
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 100%;
  transform: scale(5) translate(0%, 50%);
  visibility: hidden;
  /* animation: shine 60s ease-in infinite backwards; */
  /* animation-play-state: paused; */



}

.solar:hover {
  animation-play-state: paused;
}

@keyframes shine {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  25% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes carousel {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }

  25% {
    transform: rotate(72deg);
    opacity: 0.2;
  }

  50% {
    transform: rotate(144deg);
    opacity: 0.4;
  }

  70% {
    transform: rotate(216deg);
    opacity: 0.6;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

.cardBox {
  position: relative;
  transform-style: preserve-3d;
}

.circleBox>div {
  z-index: -1;
  position: absolute;
  opacity: 0.5;
  bottom: 40%;
  right: 50%;
  border-radius: 50%;
  transform: translate(50%, 50%) rotateX(45deg) rotateZ(-8deg);
}

.circle {
  width: 30cqw;
  height: 20cqw;

}

.circle2 {
  width: 50cqw;
  height: 40cqw;
}

.circle3 {
  width: 100cqw;
  height: 75cqw;
}

/* Footer */
.floating {
  transform: translateX(-4px);
  animation: bounce 4s ease-in-out infinite both;
}


@keyframes bounce {
  0% {
    transform: translateX(-4px);
  }

  50%,
  100% {}

  75% {
    transform: translateY(4px);
  }
}

.bouncedUp .swiper-slide-next .blur>img {
  animation: zoomIn 0.3s 1 ease-in-out forwards;


}

.bouncedUp .swiper-slide .blur>img {
  margin-top: 15px;
}

.bgSwiper .swiper-slide-active .blur>img {
  animation: fadeIn 2s 1 forwards;
}

.bgSwiper .swiper-slide .blur>img {
  opacity: 0;
}

.bgSwiper .blur {
  display: inline !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;

  }

  to {
    opacity: 0.3;
  }
}

@keyframes fadeIn1 {
  from {
    opacity: 0;

  }

  to {
    opacity: 1;
  }
}

@keyframes zoomIn {

  from {
    width: 32%;
  }

  to {
    width: 60%;
  }
}

@keyframes flowUp {
  0% {
    bottom: -50%;
  }

  15% {
    bottom: -40%;
  }

  25% {
    bottom: -30%;
  }

  50% {
    bottom: -20%;
  }

  75% {
    bottom: -10%;
  }

  100% {
    bottom: 0%;
  }
}